.cover {
  
  background: url("Pictures/M17.02.21E8328A1-ff-760-10-10-1920.jpg") center;
  background-size: cover;
  margin: auto;
  display: table;
  height: 100vh;
  width: 100vw;
  max-width: 1920px;
  text-align: center;
  color: yellow;
  
 
 
}
.wrapper {
  display: table-cell;
  vertical-align: middle;
  
}
.wrapper  button {
  /*display: table-cell;*/
  border-style: solid; 
  border-width: thick;
 border-color: darkgrey;  
 border-radius: 15vh;
  background-color: hsla(120,00%,100%,0.1); 
  
  /*color: yellow;*/
  /*font-size: 5vh;*/
  /*text-decoration: none;*/
}
.wrapper  button a {
  /*display: block;*/
  /*border-width: thick;*/
  /*border-color: red;*/
 /* border-radius: 1vh;*/
  display: block;
  color: yellow;
  font-size: 10vh;
  text-decoration: none;
}
.wrapper button:hover{
  border-style: solid; 
  border-width: thick;
 /* border-color: darkgrey;  */
  border-radius: 15vh;
 
  background: url("Pictures/M17.02.21E8419A1-500.jpg")center no-repeat ;
  background-size: cover;
}

.wrapper button a:hover{
  /*background-color: yellow;*/
  color: red;
  text-decoration: none;
}

h1{
  font-size: 10vh;
}
/* The base of every button */
/*
.btn {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  padding: 6px 12px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  vertical-align: middle;
} */