.cover {
  margin: auto;
  height: 100vh;
  width: 100vw;
  text-align: center;
  /*color: blanchedalmond;*/
  /*background-size: cover;*/
  /* max-width: 1920x;*/
  
}
#c00 {
  background:url("Pictures/M17.02.21E8328A1-ff-760-10-10-1920.jpg") center;
  background-repeat: no-repeat;
}
#c01{
  background:url("Pictures/M17.02.21E8419A1-1920-ff-750-10-10.jpg");
  background-repeat: no-repeat;
}
.navigation{
  position: relative;
  
  margin: auto;
  border-style: solid; 
  border-width: thick;
  border-color: rgb(200,200,200);  
  border-radius: 150px;
  background-color: hsla(0,0%,1000%,0.3); 
  
}

#n00{
  top: 20vh;
  width: 500px;
  height: 270px;
  padding-top:  80px;
  font-size: 30px;
}
#n00:hover{
  background: url(Pictures/M17.02.21E8419A1-500.jpg);
}
.nav1 {
  position: relative;
  float: left;
  top: 50px;
  left:50px;
  width: 200px;
  height: 200px;
  margin:10px;
}
#n01:hover{
  background: url("Pictures/M17.02.21E8419A1-200x200.jpg")center no-repeat ;
}
.navigation:hover{
 
}

h1{
  padding-top: 60px;
  font-size: 10vh;
  color: cornsilk ;
}
h2{
  font-size: 30px;
  color: cornsilk;
  padding-top: 80px;
}
a {
  text-decoration: none;
}
/*
.wrapperpage{
  display: table-cell;
  vertical-align: middle;  
  float: left;
  position: relative;
  left: 50px;
  top: 50px;
  width: 200px;
  height: 130px;
  position: relative;
   border-style: solid; 
  border-width: thick;
  border-color: rgb(200,200,200);  
  border-radius: 150px;
  background-color: hsla(0,0%,1000%,0.3); 
  
  padding-top:  80px;
  margin:10px;
  font-size: 30px;
  color:cornsilk
}
*/
.wrapperpage:hover{
  color: hsla(0,0%,100%,0.3) ;
}
#wrapper01:hover{
  background: url("Pictures/M17.02.21E8419A1-200x200.jpg")center no-repeat ;
  
}

#wrapper02{
}
#wrapper03{
 
}
#wrapper04{
  
}
#wrapper05{
 
}
