#cv{
  padding: 20px;
  font-size: 4vh;
  text-align: justify;
}
#c01b{
  background: url("Pictures/M17.07.18E8805A0-1920-ff-750-10-10-fenyero127.jpg");
    background-repeat: no-repeat;;
}
.nav-back{
  position: relative;
  float: left;
  top: 20px;
  left:50px;
  width: 200px;
  height: 200px;
  
  margin-right:70px;
  margin-bottom: 30px;
  border-color: rgb(200,200,200);  
  border-radius: 15px;
}
.nav-back:hover{
  background: url("Pictures/M17.02.21E8419A1-300.jpg");
}
#cvpicwrapper{
  float: right;
margin-right: 50px;
  margin-top: 20px;
  margin-left: 20px;
  width:30vw;
}
#cvpic{
  width: 100%;
}
#cv{
  padding: 20px;
  font-size: 4vh;
  text-align: justify;
}