#cp6{
  background: url("Pictures/L17.09.17E1670A1-1920-ff-750-10-10-fenyero127.jpg") center;
  background-repeat: repeat-y;
}
#b6{background: url("Pictures/L17.09.17E1670A1-1920-ff-750-10-10-fenyero127.jpg")
     center repeat-y;
  background-color:hsl(0,0%,80%);
}
.nav6 {
  position: relative;
  float: left;
  top: 50px;
  left:50px;
  width: 200px;
  height: 200px;
  margin:10px;
  border-color: rgb(200,200,200);  
  border-radius: 15px;
}
.nav6:hover{
  transform: scale(1.2);
  transition: transform .5s ;
}
#nav6-01{
  background: url("Pictures/Cinkota1-200.jpg") center no-repeat;
}
#nav6-02{
  background: url("Pictures/Cinkota2-200.jpg") center no-repeat;
}
#nav6-03{
  background: url("Pictures/L17.09.17E1670A1-200.jpg") center no-repeat;
}
#nav6-04{
  background: url("Pictures/L17.09.17E1671A1-200.jpg") center no-repeat;
}
#nav6-05{
  background: url("Pictures/L17.09.17E1676A1-200.jpg")center no-repeat;
}
#nav6-06{
  background: url("Pictures/L17.09.17E1678A1-200.jpg") center no-repeat;
}
#nav6-07{
  background: url("Pictures/L17.09.17E1683A1-200.jpg") center no-repeat;
}
#nav6-08{
  background: url("Pictures/L17.09.17E1692A1-200.jpg") center no-repeat;
}
#nav6-09{
  background: url("Pictures/L17.09.17E1695A1-200.jpg") center no-repeat;
}
#nav6-10{
  background: url("Pictures/L17.09.17E1705A1-200.jpg") center no-repeat;
}
#nav6-10{
  background: url("Pictures/L17.09.17E1705A1-200.jpg") center no-repeat;
}
#nav6-11{
  background: url("Pictures/L17.09.17E1714A0-200.jpg") center no-repeat;
}
#nav6-12{
  background: url("Pictures/L17.09.17E1716A1-200.jpg") center no-repeat;
}
#nav6-13{
  background: url("Pictures/L17.09.17E1720A1-200.jpg") center no-repeat;
}
#nav6-14{
  background: url("Pictures/L17.09.17E1731A1-200.jpg") center no-repeat;
}
#nav6-15{
  background: url("Pictures/L17.09.17E1733A1-200.jpg") center no-repeat;
}
#nav6-16{
  background: url("Pictures/L17.09.17E1743A1-200.jpg") center no-repeat;
}


#nav6-99{
  
}
#nav6-99:hover{
  background: url("Pictures/GooglePhotos-200.jpg") center no-repeat;
}


.flex-container{
  display: -webkit-flex;
  display: flex;
  width: 100vw;
  height: 100vh;
}
img{
  max-height: 100%;
  max-width: 100%;
}
.flex-item{
  margin: auto;
}