#cp7{
  background: url("Pictures/L17.11.20E1751A0-1920-ff-750-10-10-fenyero127.jpg") center;
  background-repeat: repeat-y;
}
#b7{background: url("Pictures/L17.11.20E1751A0-1920-ff-750-10-10-fenyero127.jpg")
     center repeat-y;
  background-color:hsl(0,0%,80%);
}
.nav7 {
  position: relative;
  float: left;
  top: 50px;
  left:50px;
  width: 200px;
  height: 200px;
  margin:10px;
  border-color: rgb(200,200,200);  
  border-radius: 15px;
}
.nav7:hover{
  transform: scale(1.2);
  transition: transform .5s ;
}
#nav7-01{
  background: url("Pictures/2017_11_20_apostolagnes_meghivo-200.jpg") center no-repeat;
}
#nav7-02{
  background: url("Pictures/L17.11.20E1762A0-200.jpg") center no-repeat;
}
#nav7-03{
  background: url("Pictures/L17.11.20E1751A0-200.jpg") center no-repeat;
}
#nav7-04{
  background: url("Pictures/L17.11.20E1778A0-200.jpg") center no-repeat;
}
#nav7-05{
  background: url("Pictures/L17.11.20E1769A0-200.jpg")center no-repeat;
}
#nav7-06{
  background: url("Pictures/L17.11.20E1771A0-200.jpg") center no-repeat;
}
#nav7-07{
  background: url("Pictures/L17.11.20E1786A0-200.jpg") center no-repeat;
}
#nav7-08{
  background: url("Pictures/L17.11.20E1768A0-200.jpg") center no-repeat;
}
#nav7-09{
  background: url("Pictures/L17.11.20E1782A0-200.jpg") center no-repeat;
}
#nav7-10{
  background: url("Pictures/L17.11.20E1784A0-200.jpg") center no-repeat;
}

#nav7-11{
  background: url("Pictures/L17.11.20E1764A0-200.jpg") center no-repeat;
}
#nav7-12{
  background: url("Pictures/L17.11.20E1777A0-200.jpg") center no-repeat;
}
#nav7-13{
  background: url("Pictures/L17.11.20E1793A0-200.jpg") center no-repeat;
}
#nav7-14{
  background: url("Pictures/L17.11.20E1796A1-200.jpg") center no-repeat;
}


#nav7-99{
  
}
#nav7-99:hover{
  background: url("Pictures/GooglePhotos-200.jpg") center no-repeat;
}


.flex-container{
  display: -webkit-flex;
  display: flex;
  width: 100vw;
  height: 100vh;
}
img{
  max-height: 100%;
  max-width: 100%;
}
.flex-item{
  margin: auto;
}